## setting file for nano editor
## for more information, see following web site:
## https://www.nano-editor.org/dist/latest/nanorc.5.html


## tab size
set tabsize 4

## convert tab to spaecs
set tabstospaces

## display line numbers
set linenumbers

## automatically indent
set autoindent
